p, h1,h2,h3,h4,h5,h6, nav, ul, li,div,body {
  padding: 0;
  margin: 0;
}

.menu {
  display: flex;
  padding: 10px
}

.menu_text {
  padding: 8px 10px;
}

.left_margin {
  margin-left: 8px;
}

.container {
  padding: 0 5%
}

.min_width_container{
  min-height: 90vh;
}